@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../function.scss';

.wrapper{
    display: flex;
    column-gap: 10px;
}

.log-btn{
    @include m.auth-header(1px,#191A1533, transparent,30px);
    @include m.text-character(10px, 12px,v.$dark);
    font-weight: 500;
    padding: 6px 26px;
}

.registr-btn{
    @include m.auth-header(1px, v.$orange-1, v.$orange-1, 30px);
    @include m.text-character(10px,12px, v.$light);
    font-weight: 500;
    padding: 6px 26px;
}

@media screen and (min-width: v.$min-desktop) {

.wrapper{
    column-gap: calcOutValue(8);
}

.log-btn{
    @include m.text-character(calcOutValue(16), calcOutValue(20),v.$dark);
    border-width: calcOutValue(1);
    border-radius: calcOutValue(30);
    padding: calcOutValue(14) calcOutValue(40);
}

.registr-btn{
    @include m.text-character(calcOutValue(16), calcOutValue(20), v.$light);
    border-width: calcOutValue(1);
    border-radius: calcOutValue(30);
    padding: calcOutValue(14) calcOutValue(40);
}
}