@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../function.scss';

.main-wrapper{
    position: relative;
    margin-bottom: 16px;
    background-color: transparent;
}

.title{
    @include m.text-character(8px,10px, v.$light-2);
    margin-bottom: 4px;
    font-weight: 500;
}

.input-button {
    @include m.auth-header(1px, v.$orange-1, v.$orange-1, 7px);
    @include m.text-character(8px, 10px, v.$light);
    @include m.flexibility(row,space-between,center);
    font-weight: 500;
    padding: 8px 10px;
    min-width: 114px;
}

.input-button-arrow{
    width: 10px;
    height: 10px;
}

.input-button-arrow-open{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.filters-wrapper{
    @include m.flexibility(column, flex-start,flex-start);
    position: absolute;
    top: 44px;
    z-index: 2;
    background-color: v.$light-3;
    box-shadow: 0px 20px 69px 0px #00000012;
    width: 114px;
    padding: 8px;
    row-gap: 4px;
    border-radius: 8px;
}

.choose-button{
    @include m.flexibility(row, flex-start, flex-start);
    @include m.text-character(8px,10px,#191A154D);
    padding: 0;
    background-color: transparent;
    width: 100%;
    transition: color 0.3s ease-in-out;

    &:hover{
        color: v.$dark;
    }
}

@media screen and (min-width: v.$min-desktop) {
    .main-wrapper {
        margin-bottom: calcOutValue(32);
    }

    .title {
        @include m.text-character(calcOutValue(14), calcOutValue(18), v.$light-2);
        margin-bottom: calcOutValue(8);
    }

    .input-button {
        @include m.text-character(calcOutValue(16), calcOutValue(20), v.$light);
        border-width: calcOutValue(1);
        border-radius: calcOutValue(14);
        padding: calcOutValue(14) calcOutValue(14) calcOutValue(14) calcOutValue(18);
        min-width: calcOutValue(226);
    }

    .input-button-arrow {
        width: calcOutValue(20);
        height: calcOutValue(20);
    }

    .filters-wrapper {
        top: calcOutValue(82);
        box-shadow: 0px calcOutValue(20) calcOutValue(69) 0px #00000012;
        width: calcOutValue(226);
        padding: calcOutValue(14) calcOutValue(18);
        row-gap: calcOutValue(8);
        border-radius: calcOutValue(14);
    }

    .choose-button {
        @include m.text-character(calcOutValue(16), calcOutValue(20), #191A154D);
    }
}
