@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../function.scss';

.wrapper {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 14px;
    border-bottom: 1px solid #191A151A;
    background: #FBFBFB;
    background: linear-gradient(135deg, rgba(251, 251, 251, 1) 1%, rgba(251, 246, 242, 1) 63%, rgba(251, 240, 231, 1) 73%, rgba(251, 235, 223, 1) 87%);
}

@media screen and (min-width: v.$min-desktop) {
    .wrapper{
        padding: calcOutValue(24) calcOutValue(128);
        border-bottom: calcOutValue(1) solid #191A151A;
    }
}
