@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../function.scss';

.info-text{
    @include m.text-character(8px,10px,#191A1580);
    margin-bottom: 20px;
    width: 220px;
}

.form{
    @include m.flexibility(column,center,center);
    row-gap: 8px;
    width: 220px;
}

.field-wrapper {
    position: relative;
    width: 100%;
}

.field {
    @include m.inputs(8px, 10px, 1px, #191A151A, 6px);
    @include m.text-character(8px, 10px, v.$dark);
    background-color: transparent;
    margin-bottom: 2px;

    &::placeholder {
        color: v.$dark;
    }
}

.error-text {
    @include m.text-character(6px, 8px, v.$orange-1);
    padding-left: 2px;
    height: 8px;
}

.eye-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: transparent;
    svg{
        width: 100%;
        height: 100%;
        fill: transparent;
        stroke: v.$dark;
    }
}

.submit-btn {
    @include m.auth-header(1px, v.$orange-1, v.$orange-1, 16px);
    @include m.text-character(8px, 10px, v.$light);
    font-weight: 500;
    margin-top: 12px;
    padding: 8px;
    width: 100%;
}

@media screen and (min-width: v.$min-desktop) {
    .info-text {
        @include m.text-character(calcOutValue(16), calcOutValue(20), #191A1580);
        margin-bottom: calcOutValue(40);
        width: calcOutValue(438);
    }

    .form {
        row-gap: calcOutValue(18);
        width: calcOutValue(438);
    }

    .field {
        @include m.inputs(calcOutValue(16), calcOutValue(18), calcOutValue(1), #191A151A, calcOutValue(12));
        @include m.text-character(calcOutValue(16), calcOutValue(20), v.$dark);
        margin-bottom: calcOutValue(4);
    }

    .error-text {
        @include m.text-character(calcOutValue(12), calcOutValue(16), v.$orange-1);
        padding-left: calcOutValue(4);
        height: calcOutValue(16);
    }

    .eye-btn {
        top: calcOutValue(16);
        right: calcOutValue(16);
        width: calcOutValue(20);
        height: calcOutValue(20);
    }

    .submit-btn {
        @include m.text-character(calcOutValue(16), calcOutValue(20), v.$light);
        border-width: calcOutValue(1);
        border-radius: calcOutValue(30);
        margin-top: calcOutValue(20);
        padding: calcOutValue(16);
    }
}