@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../function.scss';

.main-wrapper{
    @include m.flexibility(row,space-between,flex-start);
    background-color: v.$light;
    column-gap: 10px;
    padding: 12px;
    border-radius: 12px;
}

.avatar-wrapper{
    position: relative;
    width: 60px; 
    height: 60px;
    border-radius: 14px;
    border: 1px solid #FC832C33;
    padding: 6px;

    &::before{
        position: absolute;
        top: 4px;
        right: 8px;
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background-color: v.$green-1;
        border-radius: 50%;
        border: 2px solid v.$light;
    }
}

.photo-wrapper{

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}

.top-wrapper{
    @include m.flexibility(row, space-between,flex-start);
    margin-bottom: 12px;
}

.information-wrapper{
    width: 83%;
}


.name-wrapper{
    @include m.flexibility(column,flex-start,flex-start);
    @include m.text-character(8px,12px,v.$light-2);
    row-gap: 4px;
    font-weight: 500;
    span{
        @include m.text-character(12px, 12px, v.$dark);
    }
}

.information-top-wrapper{
    @include m.flexibility(row, flex-end, center);
}

.rating-wrapper{
    @include m.flexibility(row, flex-start, center);
    @include m.text-character(8px,12px, v.$dark);
    position: relative;
    font-weight: 500;
    column-gap: 4px;
    padding-right: 8px;
    svg{
       width: 8px;
       height: 8px; 
    }

    &::after{
        position: absolute;
        right: 0;
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background-color: #191A1533;
    }
}

.price-wrapper{
    @include m.text-character(8px,12px,v.$dark);
    font-weight: 500;
    padding-left: 8px;
    margin-right: 14px;

    span{
        color: v.$green-1;
    }
}

.characteristics-list{
    @include m.flexibility(row, flex-start,flex-start);
    row-gap: 4px;
    column-gap: 2px;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.characteristics-item{
    @include m.text-character(8px,12px,v.$light-2);
    background-color: v.$light-1;
    border-radius: 12px;
    font-weight: 500;
    padding: 4px 8px;

    span{
        color: v.$dark;
    }
}

.about-text{
    @include m.text-character(8px,10px,#191A1580);
}

.read-btn{
    @include m.text-character(8px,12px,v.$dark);
    background-color: transparent;
    padding: 0;
    margin-top: 8px;
    text-decoration: underline;
}

@media screen and (min-width: v.$min-desktop) {
    .main-wrapper {
        column-gap: calcOutValue(24);
        padding: calcOutValue(24);
        border-radius: calcOutValue(24);
    }

    .avatar-wrapper {
        width: calcOutValue(180);
        height: calcOutValue(180);
        border-radius: calcOutValue(30);
        border-width: calcOutValue(1);
        padding: calcOutValue(12);

        &::before {
            top: calcOutValue(10);
            right: calcOutValue(14);
            width: calcOutValue(20);
            height: calcOutValue(20);
            border-width: calcOutValue(2);
        }
    }

    .photo-wrapper {
        img {
            border-radius: calcOutValue(16);
        }
    }
    .information-wrapper{
        width: 84%;
    }

    .top-wrapper {
        margin-bottom: calcOutValue(24);
    }

    .name-wrapper {
        @include m.text-character(calcOutValue(16), calcOutValue(24), v.$light-2);
        row-gap: calcOutValue(8);

        span {
            @include m.text-character(calcOutValue(24), calcOutValue(24), v.$dark);
        }
    }

    .rating-wrapper {
        @include m.text-character(calcOutValue(16), calcOutValue(24), v.$dark);
        column-gap: calcOutValue(8);
        padding-right: calcOutValue(16);

        svg {
            width: calcOutValue(16);
            height: calcOutValue(16);
        }

        &::after {
            width: calcOutValue(1);
        }
    }

    .price-wrapper {
        @include m.text-character(calcOutValue(16), calcOutValue(24), v.$dark);
        padding-left: calcOutValue(16);
        margin-right: calcOutValue(28);
    }

    .characteristics-list {
        row-gap: calcOutValue(8);
        column-gap: calcOutValue(4);
        margin-bottom: calcOutValue(24);
    }

    .characteristics-item {
        @include m.text-character(calcOutValue(16), calcOutValue(24), v.$light-2);
        border-radius: calcOutValue(24);
        padding: calcOutValue(8) calcOutValue(16);
    }

    .about-text {
        @include m.text-character(calcOutValue(16), calcOutValue(20), #191A1580);
    }

    .read-btn {
        @include m.text-character(calcOutValue(16), calcOutValue(24), v.$dark);
        margin-top: calcOutValue(14);
    }
}