@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../function.scss';

.list{
    @include m.flexibility(column,flex-start,flex-start);
    row-gap: 12px;
    margin-bottom: 20px;
}

.item{
    @include m.flexibility(column,flex-start,flex-start);
    row-gap: 8px;
}

.top-wrapper{
    @include m.flexibility(row,flex-start,flex-start);
    column-gap: 12px;
}

.avatar-wrapper{
    @include m.flexibility(row,center,center);
    @include m.text-character(10px,10px,v.$orange-1);
    width: 22px;
    font-weight: 500;
    height: 22px;
    background-color: #FC832C33;
    border-radius: 50%;
}

.name{
    @include m.text-character(8px,10px,v.$dark);
    font-weight: 500;
    margin-bottom: 2px;
}

.rating{
    @include m.text-character(8px,10px,v.$dark);
    font-weight: 500;
    svg{
        width: 8px;
        height: 8px;
        margin-right: 4px;
    }
}

.comment{
    @include m.text-character(8px,10px,#191A1580);
}

@media screen and (min-width: v.$min-desktop) {
    .list {
        row-gap: calcOutValue(24);
        margin-bottom: calcOutValue(40);
    }

    .item {
        row-gap: calcOutValue(16);
    }

    .top-wrapper {
        column-gap: calcOutValue(12);
    }

    .avatar-wrapper {
        @include m.text-character(calcOutValue(20), calcOutValue(20), v.$orange-1);
        width: calcOutValue(44);
        height: calcOutValue(44);
    }

    .name {
        @include m.text-character(calcOutValue(16), calcOutValue(20), v.$dark);
        margin-bottom: calcOutValue(4);
    }

    .rating {
        @include m.text-character(calcOutValue(14), calcOutValue(18), v.$dark);

        svg {
            width: calcOutValue(16);
            height: calcOutValue(16);
            margin-right: calcOutValue(8);
        }
    }

    .comment {
        @include m.text-character(calcOutValue(16), calcOutValue(20), #191A1580);
    }
}