// Colors
$dark: #191A15;
$orange-1: #FC832C;
$orange-2: #F37113;
$orange-3: #FBC75E;
$light: #FBFBFB;
$light-1: #F3F3F3;
$light-2: #8A8A89;
$light-3:#FFFFFF;
$beige: #FC832C33;
$green: #54BE96;
$green-1:#38CD3E;

// Breakpoints
$max-mobile: 576px;
$min-desktop: 577px;